<style>


a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #000;
  background-color: var(--accent);
  border-radius: $border-radius;
  text-align: center;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
  border: 2px solid  var(--accent);
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}



</style>

{{ $ref := .Get "href" }}
{{ $target := "" }}
{{ with $ref }}
  {{ $target = "_blank" }}
{{ end }}
{{ with .Get "relref" }}
  {{ $ref = relref $ . }}
{{ end }}
<a {{ with $ref }}href="{{.}}" {{ end }} {{ with $target }} target="{{.}}"{{ if eq $target "_blank" }} rel="noreferrer"{{ end }}{{ end }} class="markdown-btn{{ with .Get "class" }} {{ . }}{{ end }}">{{- .Inner | safeHTML -}}</a>