<style>
  blockquote.pullquote p:first-of-type::before {
     /*color:  var(--accent);*/ /*makes the > arrow accent color of the terminal config.toml*/
    color: #fff !important; /*makes the > arrow black*/
    content: ">";
    display: block;
    left: -10px;
    position: absolute;
  }

  blockquote.pullquote {
    position: relative;
    background: #4f5c48;
    font: inherit;
    font color: #fff;
    /* color: var(--accent);*/
    border-top: 2px solid  var(--accent);
    border-bottom: 2px solid var(--accent);
    margin: 40px 0;
    padding: 25px;
  }

  blockquote.pullquote>ul li::before {
    color: #fff !important;
    content: "-";
    left: -10px;
    position: absolute;
  }

  blockquote.pullquote p {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff !important;
  }


  blockquote.pullquote>ul li {
  padding-left: 4px;
    color: #fff !important;
  }

</style>
<blockquote class="pullquote">{{.Inner | markdownify | safeHTML}}</blockquote>